In [34]:
# Presentation for DR.cheragui Mohammed Amine about : DEEP-LEARNING
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [35]:
# reading the data
data = pd.read_csv(r"C:\Users\amina\OneDrive\Desktop\test.csv")

In [36]:
# just displaying our data in a frame format
data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
# transforming the data into a numpy array
data = np.array(data)

In [48]:
m , n = data.shape
np.random.shuffle(data)

In [53]:
# transposing the data
our_study_sample = data[0:1000].T

In [50]:
our_Y_study_sample = our_study_sample[0]
our_X_study_sample = our_study_sample[1,n]

In [52]:
our_train_sample = data[1000:m].T
our_Y_train_sample = our_train_sample[0]
our_X_train_sample = our_train_sample[1,n]